.container{
    width: porcentaje(1200);
    height: 579px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    animation: open 0.5s forwards linear;
}

@keyframes open {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}